form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 10vw;
}
form input {
  height: 20px;
}
.timer {
  width: 300px;
  margin: 100px auto;
}
.timer time {
  font-size: 30px;
}
.timer button {
  padding: 10px;
}
